<tr>
  <td><%= plan.name %></td>
  <td><%= plan.start_date %></td>
  <td><%= plan.end_date %></td>
  <td><%= plan.created_at %></td>
  <td><%= plan.updated_at %></td>
  <td><%= link_to plan.category.name, edit_category_path(plan.category_id) %></td>
  <td>
    <span><%= link_to 'Edit', edit_plan_path(plan), class: "btn btn-default"%></span>
    <span><%= link_to 'Destroy', plan_path(plan), class: "btn btn btn-danger", data: {confirm: 'Are you sure?'}, method: :delete %> </span>
  </td>
</tr>