%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      - if current_user
        .navbar-brand
          Balance:
          %span.glyphicon.glyphicon-euro
            = current_user.balance.amount
        .navbar-brand
          Planned amount:
          %span.glyphicon.glyphicon-euro
            = current_user.balance.planned_amount
        .navbar-brand
          Free amount:
          %span.glyphicon.glyphicon-euro
            = current_user.balance.free_amount

    %ul.nav.navbar-nav

    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li
          = link_to 'Sign out', destroy_user_session_path, method: :delete

      - else
        %li
          = link_to 'Signup', new_user_registration_path
        %li
          = link_to 'Signin', new_user_session_path


