%nav.navbar.navbar-default
  .container-fluid
    %ul.nav.navbar-nav

      %li.nav-item
        = link_to 'Categories', categories_path, method: :GET
      %li.nav-item
        = link_to 'Charges', charges_path, method: :GET
      %li.nav-item
        = link_to 'Plans', plans_path, method: :GET

    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li
          = link_to 'Sign out', destroy_user_session_path, method: :delete

      - else
        %li
          = link_to 'Signup', new_user_registration_path
        %li
          = link_to 'Signin', new_user_session_path


