!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MoneyManager
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = render '/layouts/header'
      .row
        .col-md-2
          - if current_user
            %ul.nav.nav-pills.nav-stacked
              %li{:role => "presentation"}
                = link_to 'Home', root_path
              %li{:role => "presentation"}
                = link_to 'Categories', categories_path, method: :GET
              %li{:role => "presentation"}
                = link_to 'Charges', charges_path, method: :GET
              %li{:role => "presentation"}
                = link_to 'Plans', plans_path, method: :GET

        .col-md-10
          - flash.each do |name, msg|
            = content_tag :div, class: "alert #{bootstrap_class_for(name.to_sym)} fade in" do
              = msg

          = yield
